[submodule "vendor/TSEmojiView"]
	path = vendor/TSEmojiView
	url = https://github.com/jimneylee/TSEmojiView.git
[submodule "vendor/JLNimbusTimeline"]
	path = vendor/JLNimbusTimeline
	url = https://github.com/jimneylee/JLNimbusTimeline.git
[submodule "vendor/JASidePanels"]
	path = vendor/JASidePanels
	url = https://github.com/gotosleep/JASidePanels.git
[submodule "vendor/MarkdownSyntaxEditor"]
	path = vendor/MarkdownSyntaxEditor
	url = https://github.com/jimneylee/MarkdownSyntaxEditor.git
[submodule "vendor/320Categories"]
	path = vendor/320Categories
	url = https://github.com/jimneylee/320Categories.git
